apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kube-resource-suggest.fullname" . }}
  labels:
    {{- include "kube-resource-suggest.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "kube-resource-suggest.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "kube-resource-suggest.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kube-resource-suggest.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: LOG_LEVEL
              value: {{ .Values.logLevel | quote }}
            {{- if .Values.prometheus.url }}
            - name: PROMETHEUS_URL
              value: {{ .Values.prometheus.url | quote }}
            {{- else if .Values.prometheus.enabled }}
            - name: PROMETHEUS_URL
              value: "http://{{ include "kube-resource-suggest.fullname" . }}-prometheus:{{ .Values.prometheus.service.port }}"
            {{- end }}
            - name: OPENSHIFT_ENABLED
              value: {{ .Values.openshift.enabled | quote }}
            - name: SCAN_INTERVAL
              value: {{ .Values.config.interval | quote }}
            - name: BATCH_DELAY
              value: {{ .Values.config.batchDelay | quote }}
            {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
